@media screen and (min-width: 1200px) {
    * {
        margin: 0;
    }

    .app {
        display: flex;
        flex-wrap: wrap;
    }

    .button-wrapper {
        display: none;
    }

    .another-menu-wrapper {
        position: static;
        height: 100dvh;
        width: auto;
    }

    .menu-wrapper {
        height: inherit;
    }

    .home {
        margin: 0;
    }


}