@media screen and (min-width: 1200px) {.app {
        display: flex;
        padding: 0;
        margin: 0;
        max-height: 100dvh;
    }

    .button-wrapper {
        display: none;
    }

    .another-menu-wrapper {
        position: static;
        max-width: 17rem;
        min-height: 100dvh;
        /* border: 5px solid red; */
    }

    .menu-wrapper {
        width: inherit;
        flex-direction: column;
    }

    .menu {
        width: inherit;
        min-height: inherit;
        flex-grow: 1;
    }

    .home {
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }

    .resume-page {
        display: flex;
        flex-wrap: wrap;
    }

    .cv-download-button-wrapper {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .projects-page {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow-y: scroll;
        margin-top: 0;
        width: 100%;
    }

    .projects-page h1 {
        margin-top: 5rem;
        font-size: 3rem;
    }

    .project {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-around;
        gap: 2px;
    }

    .project-info {
        width: 22rem;

    }

    .contact-page {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contact-page h1 {
        flex: 100%;
    }

    .input-field .contact-form-input {
        max-width: 500px;
    }

    .contact-form {
        max-width: 50%;
    }

    .contact-info {
        flex-grow: 1;
    }



}