@import url('https://fonts.googleapis.com/css?family=Nunito:regular,bold,italic&subset=latin,latin-ext');

/* HTML Styling */
* {
    margin: 0;
}

body {
    font-family: Nunito,sans-serif;
    /* -webkit-font-smooting: antialiased; */
}

/* App Styling */
.app {
    display: flex;
    min-height: 100dvh;
}

/* General Styling */
.name {
    margin-top: 0;
    color: #037fff;
}

/* Menu Styling */
.menu {
    position: fixed;
    height: 100%;
    border-right: 1px solid #cbced8;
    width: 70%;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
}

.menu .headshot img {
    width: 60%;
    border-radius: 50%;
    border: 8px solid #cbced8;
    margin-block: 1rem;
}

.menu .headshot {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cbced8;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
}

.navlink-box-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.navlink-box {
    /* border: 1px solid red; */
    flex-grow: 1;
}

.navlink {
    color: #313131;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-block: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.95rem;
}

.menu .footer {
    font-weight: 400;
    text-align: center;
    border-top: 1px solid #cbced8;
    padding-block: 1rem;
}

.menu .footer .name {
    color: #037fff;
}


/* BurgerMenu Styling */
.burger-menu {
    position: fixed;
    margin: 0.5rem;
    margin: 0;
}

.burger-menu button {
    position: fixed;
    right: 0;
}

/* Home Page Styling */
.home {
    display: flex;
    text-align: center;
    align-items: center;
    margin-inline: 1rem;
}

.home .greeting {
    /* font-weight: bold; */
    font-size: 1.44rem;
}

.home .introduction {
    margin-bottom: 0;
}

.home .about-me {
    margin-block: 0.75rem;
}

.github-icon {
    text-decoration: none;
    color: black;
}

/* About Page Styling */
.about-me {
    margin-top: 10rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.headshot {
    width: 100%;
    border-radius: 10px;
    margin-block: 0.5rem;
}

.about-me h2 {
    font-size: 2rem;
    font-weight: lighter;
}

.about-me .description {
    margin-block: 0.5rem;
}

.about-me-info {
    margin-block: 1rem;
}

.about-me-info p {
    margin-block: 1rem;
}

/* About Me (CV Button) Styling */
.cv-download-button {
    width: 15rem;
    height: 3rem;
    color: white;
    background-color: #037fff;
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
}

/* Resume Page Styling */
.skills h1 {
    margin-bottom: 0.5rem;
}
.resume-page {
    margin-top: 10rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.resume-page ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.resume-page li {
    color: white;
    background-color: #037fff;
    border-radius: 5px;
    padding: 0.25rem;
    flex-grow: 1;
    text-align: center;
    min-width: 15%;
}

.education {
    margin-bottom: 1rem;
}

.education h1 {
    margin-bottom: 0.5rem;
}

.education .year {
    color: #313131;
    font-size: 1rem
}

.education .degree {
    color: #037fff;
    font-size: 1.25rem;
}

.education .program {
    font-size: 1.1rem;
}

.education .school {
    font-size: 0.9rem;
}

/* Projects Page Styling */
.projects-page {
    margin: 10rem 8px 8px 8px;
}

.project {
    padding: 0;
}

.project li {
    list-style-type: none;
}

.project h2{
    color: #037fff;
}

.project .project-info {
    border: 1px solid #037fff;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.project .img-wrapper {
    display: flex;
    justify-content: center;
}

.project .project-link-button {
    color: #037fff;
    background-color: white;
    border: 2px solid #037fff;
    height: 2.5rem;
    margin-top: 1rem;
}

.project .tech {
    display: flex;
    padding: 0;
}

.project img {
    border-radius: 5px;
}

.project .vertical-img {
    max-width: 50%;
}

.project .horizontal-img {
    max-width: 100%;
}

/* Contact Page Styling */
.contact-page {
    margin: 10rem 8px 8px 8px;
}

.contact-form {
    margin-top: 2rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.input-field {
    flex-grow: 1;
    flex: 100%;
}

.input-field .contact-form-input {
    min-width: 100%;
    padding-inline: 0;
    border: 1px solid #cbced8;
    box-sizing: border-box;
}

.input-field #message {
    height: 150px;
}

.form button {
    background-color: #037fff;
    border: none;
    width: 10rem;
    height: 2.5rem;
    color: white;
    letter-spacing: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contact-info-card {
    padding: 1rem;
    margin-block: 1rem;
    background-color: #e4e4e4;
}
.contact-type {
    margin-block: 0.5rem;
}